@{ ViewBag.Title = "P4"; } 

<div class="container">
    <h2>Supplier</h2>
    <select class="form-control" id="ddlSupp" name="departmentsDropdown"></select>
    <input type="text" class="form-control" id="txtTrnDate" placeholder="dd-MMM-yyyy" />
    <button type="button" class="btn btn-primary" id="btnSave">Save</button>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Employee</button><br /><br />
    <table id="table1" class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Unit</th>
                <th>Qty</th>
            </tr>
        </thead>
        <tbody id="tblBody">
        
        </tbody>
    </table> 
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dissmiss="modal"><span aria-hidden="true">×</span></button>*@
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Add Employee</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="EmployeeId">ID</label>
                        <input type="text" class="form-control" id="EmployeeID" placeholder="Id" disabled="disabled"/>
                    </div>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name"/>
                    </div>
                    <div class="form-group">
                        <label for="Age">Age</label>
                        <input type="text" class="form-control" id="Age" placeholder="Age"/>
                    </div>
                    <div class="form-group">
                        <label for="State">State</label>
                        <input type="text" class="form-control" id="State" placeholder="State"/>
                    </div>
                    <div class="form-group">
                        <label for="Country">Country</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display: none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{

    @*<script>
        //for datatable
        $(document).ready(function() {
            debugger;
            var data = '@ViewBag.country';
            data = data.replace(/\&quot;/g, '"');
            data = $.parseJSON(data);
            var s = '<option value="">---Please Select---</option>';
            for (var i = 0; i < data.length; i++) {
                s += '<option value="' + data[i].id + '">' + data[i].txt + '</option>';
            }
            $("#departmentsDropdown").html(s);
        });
    </script>*@

    @*<script>
        //for dataset
        $(window).on('load', function() {
            window.setTimeout(function() {
                //alert('as'); 
                debugger;
                var data = '@ViewBag.country';
                data = data.replace(/\&quot;/g, '"');
                data = $.parseJSON(data);
                var s = '<option value="">---Please Select---</option>';
                for (var i = 0; i < data.dt1.length; i++) {
                    s += '<option value="' + data.dt1[i].id + '">' + data.dt1[i].txt + '</option>';
                }
                $("#departmentsDropdown").html(s);
            }, 50);
        });
    </script>*@

    <script>
        //for dataset
        //$( document ).ready(function() {
        $(window).on('load', function() { //for after entire page load
            window.setTimeout(function() { //for quick page load then bind data silently, useful in onload
                //alert('as');
                debugger;
                $.ajax({
                    type: 'GET',
                    url: '/P3/PageLoad',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: {},
                    success: function (data) {
                        data = data.replace(/\&quot;/g, '"');
                        data = $.parseJSON(data);
                        var s = '<option value="">---Please Select---</option>';
                        for (var i = 0; i < data.dt1.length; i++) {
                            s += '<option value="' + data.dt1[i].id + '">' + data.dt1[i].txt + '</option>';
                        }
                        $("#ddlSupp").html(s);
                        //bind table
                        //Append each row to html table  
                        for (var i = 0; i < data.dt2.length; i++) {
                             var rows = "<tr>" +
                                "<td>" + data.dt2[i].id + "</td>" +
                                "<td>" + data.dt2[i].name + "</td>" +
                                "<td>" + data.dt2[i].unit + "</td>" +
                                "<td>" + data.dt2[i].qty + "</td>" +
                                "</tr>";
                            $('#table1 tbody').append(rows);
                            
                        }
                    },
                    error: function () {
                        alert("fail");
                    }
                });
            }, 50);
        });
</script>
    <script>
        $(document).ready(function () {
            //$('#btnAdd').click(function () {
            //    var _tblBOdy = '';
            //    _tblBOdy += '<tr> <td>' + $('#drpProduct').val() + '</td> <td>' + $('#drpProduct option:selected').text() + '</td> <td>' + $('#drpUnit').val() + ' </td> <td>' + $('#drpUnit option:selected').text() + ' </td> <td> ' + $('#txtQty').val() + '</td><td> ' + $('#txtRate').val() + '</td></tr>';
            //    $('#tblBody').append(_tblBOdy);
            //});


            $('#btnSave').click(function () {
                var _master = {
                    SuppId: $('#ddlSupp').val(),
                    TrnDat: $('#txtTrnDate').val(),
                    Dt1: new Array()
            };

                $('#table1 tbody tr').each(function () {
                    var _temp = {};
                     _temp.ItemId = $(this).find('td:eq(0)').text().trim();
                     _temp.Qty = $(this).find('td:eq(3)').text().trim();
                    _master.Dt1.push(_temp);

                });

                console.log(JSON.stringify(_master));

                var _jdata = JSON.stringify(_master);
                $.ajax({
                    type: 'POST',
                    url: '/P3/Save',
                    contentType: 'application/json; charset=utf-8;',
                    data: _jdata,
                    dataType: 'json',
                    success: function (d) {
                        alert('data saved!!');
                    }, error: function (err) {
                        alert(err);
                    }
                })

            })


        })

    </script>

}
